<form method="post" action="/wp-admin/admin.php?page=eventfolio_events" enctype="multipart/form-data" class="eventfolio-event-editor-form">
    <!-- Preserve view/filter state -->
    <input type="hidden" name="page" value="eventfolio_events">
    <input type="hidden" name="editing" value="true">
    <input type="hidden" name="mode" value="__MODE__">
    <input type="hidden" name="date" value="__DATE__">
    <input type="hidden" name="sort" value="__SORT__">
    <input type="hidden" name="past" value="__PAST__">
    <input type="hidden" name="future" value="__FUTURE__">
    <input type="hidden" name="event_id" value="__EVENT_ID__">
    <input type="hidden" name="parent_id" value="__PARENT_ID__">
    <div class="eventfolio-row-noheight" style="width:100%;">
        <div class="eventfolio-list eventfolio-col-image" style="width:50%;">
            <div class="eventfolio-col-noheight" id="preview-__EVENT_ID__">
                <a href="#" id="select-__EVENT_ID__" title="Change image">
                    <img src="__IMAGE_URL__" alt="Featured Image" style="max-width:96px;max-height:96px;">
                </a>
            </div>
            <div class="eventfolio-col">
                <label for="__EVENT_ID__">Featured Image</label>
                <input type="hidden" id="__EVENT_ID__" name="featured_image" value="__IMAGE_ID__">
            </div>
        </div>
        <div class="eventfolio-list" style="width:50%;">
            <div class="evenrfolio-col">__NEW_INSTANCE__</div>
            <div class="evenrfolio-col">__SERIES_LINK__</div>
            <div class="evenrfolio-col">__DELETE_LINK__</div>
        </div>
    </div>

    <div class="eventfolio-row-noheight-noline eventfolio-row-form">
        <div class="eventfolio-col eventfolio-col-title-full">
            <label style="width:100%">Title<br><input type="text" name="title" value="__TITLE__" required style="width:100%"></label>
        </div>
    </div>
    <div class="eventfolio-row-noheight-noline eventfolio-row-form">
        <div class="eventfolio-col eventfolio-col-category">
            <label style="width:100%">Category<br>
                <select name="category" onchange="this.form.submit()" style="width:100%">
                    <option value="">All Categories</option>
                    __CATEGORY_OPTIONS__
                </select>
            </label>
        </div>
        <div class="eventfolio-col eventfolio-col-location">
            <label style="width:100%">Location<br>
            <select name="location" style="width:100%">
                <option value="">To be Determined</option>
                __LOCATION_OPTIONS__
            </select><br>
            </label>
        </div>
    </div>
    <div class="eventfolio-row-noheight-noline eventfolio-row-form">
        <div class="eventfolio-col eventfolio-col-date">
            <label style="width:100%">Start Date<br><input type="date" name="start_date" value="__EVENT_DATE__" required onchange="this.form.submit()" style="width:100%"><br><span style="font-size: 1.4em; font-weight: bold; width: 100%; text-align: center;">__HUMANIZED__</span></label>
        </div>
        <div class="eventfolio-col eventfolio-col-time">
            <label style="width:100%">Start Time<br><input type="time" name="start_time" value="__START_TIME__" required style="width:100%"><br></label>
        </div>
        <div class="eventfolio-col eventfolio-col-time">
            <label style="width:100%">End Time<br><input type="time" name="end_time" value="__END_TIME__" required style="width:100%"><br></label>
        </div>
        <div class="eventfolio-col eventfolio-col-recur">
            <label style="width:100%">Recurrence<br>
            <select name="recurrence" onchange="this.form.submit()" style="width:100%">
                __RECURRENCE_OPTIONS__
            </select>
            </label>
        </div>
    </div>
    <div class="eventfolio-row-noheight-noline eventfolio-row-form">
        <div class="eventfolio-col eventfolio-col-description-full">
            <label style="width:100%" style="width:100%">Description<br><textarea name="description" rows="3" style="width:100%">__DESCRIPTION__</textarea></label>
        </div>
    </div>
    <div class="eventfolio-row-noheight-noline eventfolio-row-form">
        <div class="eventfolio-col" style="justify-content: flex-end;">
            <button class="eventfolio-btn eventfolio-btn-save" type="submit" name="action" value="save">Save</button>
            <a href="__CANCEL_URL__" class="eventfolio-btn eventfolio-btn-cancel">Cancel</a>
        </div>
    </div>
</form>
