<div class="eventfolio-row-noheight __HEADER__">
    <div class="eventfolio-col-event-list-icon">__ICON__</div>
    <div class="eventfolio-list eventfolio-col-event-list-main">
        <div class="eventfolio-row">
            <div class="eventfolio-plain-col eventfolio-col-event-list-title">__TITLE__</div>
            <div class="eventfolio-plain-col eventfolio-col-event-list-location">__LOCATION__</div>
        </div>
        <div class="eventfolio-row">
            <div class="eventfolio-plain-col eventfolio-col-event-list-start">__START__</div>
            <div class="eventfolio-plain-col eventfolio-col-event-list-recur">__RECURRING__</div>
        </div>
        <div class="eventfolio-row">
            <div class="eventfolio-plain-col eventfolio-col-event-list-end">__END__</div>
            <div class="eventfolio-plain-col eventfolio-col-event-list-recurdetail">__RECURRING_DETAILS__</div>
        </div>
    </div>
    <div class="eventfolio-col-event-list-action">__ACTIONS__</div>
</div>
