<div class="eventfolio-row-noheight __HEADER__">
    <div class="eventfolio-col-event-list-icon" style="width:20%">
        <div class="eventfolio-row-noheight" style="width:100%">
        __ICON__
        </div>
    </div>
    <div class="eventfolio-list eventfolio-col-event-list-main" style="width:60%">
        <div class="eventfolio-row">
            <div class="eventfolio-plain-col eventfolio-col-event-list-title">__TITLE__</div>
            <div class="eventfolio-plain-col eventfolio-col-event-list-location">__LOCATION__</div>
        </div>
        <div class="eventfolio-row">
            <div class="eventfolio-plain-col eventfolio-col-event-list-start">__DATE__</div>
            <div class="eventfolio-plain-col eventfolio-col-event-list-start">__START__ — __END__</div>
        </div>
        <div class="eventfolio-row">
            <div class="eventfolio-plain-col eventfolio-col-event-list-recur">__RECURRING__</div>
        </div>
    </div>
    <div class="eventfolio-col-actions" style="width:20%">
        <div class="eventfolio-row-noheight-nolinee">
            __ACTIONS__
        </div>
    </div>
</div>
