<div class="eventfolio-row-noheight eventfolio-location-row __ROW_CLASS__">
    <div class="eventfolio-col eventfolio-col-location-image" style="width: 20%">
        __ICON__
    </div>
    <div class="eventfolio-list" style="width: 60%">
        <div class="eventfolio-row-noheight-noline">
            <div class="eventfolio-location-title" style="width: 50%">
                __NAME__
            </div>
            <div class="eventfolio-location-category" style="width: 50%">
                __CATEGORY__
            </div>
        </div>
        <div class="eventfolio-row-noheight-noline">
            <div class="eventfolio-location-url" style="width: 100%">
                __URL__
            </div>
        </div>
        <div class="eventfolio-row-noheight">
            <div class="eventfolio-col eventfolio-location-address" style="width: 100%">
                __ADDRESS__
                __MAP_LINK__
            </div>
        </div>
    </div>
    <div class="eventfolio-col eventfolio-col-location-actions" style="width: 20%">
        __ACTIONS__
    </div>
</div>
