<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="__ID__">
    <input type="hidden" name="page" value="eventfolio_locations">
    <div class="eventfolio-row-noheight eventfolio-location-row __ROW_CLASS__">
        <div class="eventfolio-col eventfolio-col-location-image" style="width: 20%">
            <div class="eventfolio-col-event-image">
                <div class="eventfolio-image-picker">
                    <label for="__ID__">Featured Image</label>
                    <div class="eventfolio-image-preview" id="preview-__ID__">
                        <a href="#" id="select-__ID__" title="Change image">
                            <img src="__IMAGE_URL__" alt="Featured Image" style="max-width:96px;max-height:96px;">
                        </a>
                    </div>
                    <input type="hidden" id="__ID__" name="featured_image" value="__IMAGE_ID__">
                </div>
            </div>
        </div>
        <div class="eventfolio-list" style="width: 60%">
        <div class="eventfolio-row-noheight-noline">
            <div class="eventfolio-location-title" style="width: 50%">
                <input type="text" name="name" style="width:100%" placeholder="Name" value="__NAME__" required>
            </div>
            <div class="eventfolio-location-category" style="width: 50%">
                <select name="category" style="width:100%">
                    <option value="">Select a Category</option>
                    __CATEGORY_OPTIONS__
                </select> 
            </div>
        </div>
        <div class="eventfolio-row-noheight-noline">
            <div class="eventfolio-location-url" style="width: 100%">
                <input type="text" name="url" style="width:100%" placeholder="URL" value="__URL__">
            </div>
        </div>
        <div class="eventfolio-row-noheight">
            <div class="eventfolio-col eventfolio-location-address" style="width: 100%">
                <textarea class="eventfolio-input" id="address" name="address" rows="3" placeholder="Address">__ADDRESS__</textarea>
            </div>
        </div>
    </div>
    <div class="eventfolio-col eventfolio-col-location-actions" style="width: 20%">
        __ACTIONS__
    </div>
    </div>
</form>
